.box .box-item{
	padding: 50px 0;
}
/*公司简介*/
.office h3{
	text-align: center;
	color: #00bbc7;
	font-size: 30px;
}
.office .hengxian{
	display: block;
    margin: 0 auto;
	width: 47px;
	height: 5px;
	background: #00bbc7;
	margin-bottom: 20px;
}
.office .office-list p{
	font-size: 15px;
	line-height: 2.2em;
}
.office .office-list-right ul li{
	line-height: 1.5em;
}
.office .angluer{
	padding: 10px;
	color: #00bbc7;
	text-align: center;
}
/*公司简介*/
/*发展历程*/
.fz h3{
	text-align: center;
	color: #00c7a4;
	font-size: 30px;
}
.fz .hengxian{
	display: block;
    margin: 0 auto;
	width: 47px;
	height: 5px;
	background: #00c7a4;
	margin-bottom: 20px;
}
.fz .timer{
	color: #00c7a4;
	font-size: 22px;
	line-height: 22px;
}
.fz .year{
	margin-right: 10px;
	float: left;
}
.fz .item{
	margin: 0 auto;
}
.fz .item p{
	display: block;
	width: 50%;
	margin: 0 auto;
	line-height: 2em;
}
.fz .item p img{
	margin-top: 11px;
}



/*分享*/
.bdshare-button-style0-16 a{
	margin: 6px 0 0 0;
}
.bdshare-button-style0-16{
	position: fixed;
    left: 0;
    top: 220px;
    width: 29px;
    background: #cecece;
    border-radius: 3px;
}
/*分享 end*/

/*客服*/
.fixed{
	background: #fff;
	display: none;
}
#fixed{
	right: 0;
}

.gm{
	position: fixed;
	right: 0;
	top: 30%;
	width: 29px;
	padding: 6px;
	color: #fff;
	background: #20D9AB;
	border-radius: 3px;
	z-index: 2;
}
.gm:hover{
	/*display: none;*/
}
.gm:hover .fixed{
	display: block;
}
/*客服 end*/





@media (max-width: 550px) {
	.box-item .fz .item p{
		display: block;
		width: 90%;
		margin: 0 auto;
		line-height: 2em;
	}
}
@media (min-width: 992px){
	.box-item .fz .item p{
		display: block;
		width: 60%;
		margin: 0 auto;
		line-height: 2em;
	}
}
/*发展历程*/
/*品质保障*/
.pz h3{
	text-align: center;
	color: #00bbc7;
	font-size: 30px;
}
.pz .hengxian{
	display: block;
    margin: 0 auto;
	width: 47px;
	height: 5px;
	background: #00bbc7;
	margin-bottom: 20px;
}
.pz .pz-lunbo img,.pz .pz-lunbo1 img{
	margin: 0 auto;
}
.pz .pz-lunbo p,.pz .pz-lunbo1 p{
	text-align: center;
	margin-top: 10px;
	color: #000;
}
.pz .more-last{
	display: block;
    color: white;
    background: #ff5c6a;
    text-align: center;
    margin: 20px auto;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
}
.pz .more-last:hover,.pz .more-last:focus{
	text-decoration: none;
}
/*品质保障*/
/*健康养生*/
.jkys h3{
	display: block;
	text-align: center;
	font-size: 26px;
	color: #00bbc7;
}
.jkys .health{
	text-align: center;
	font-size: 16px;
}
.jkys-list ul li{
	margin: 15px 0;
}
.jkys-list ul li img{
	padding: 0;
	float: left;
}
.jkys-list ul li p{
	float: left;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
}
.jkys-list ul li span{
	float: right;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (max-width: 992px){
	.yangsheng .container{
		width: initial;
	}
}
/*健康养生*/
/*员工风采*/
.ygfc h3{
	text-align: center;
	color: #20d9ab;
	font-size: 30px;
}
.ygfc .hengxian{
	display: block;
    margin: 0 auto;
	width: 47px;
	height: 5px;
	background: #20d9ab;
	margin-bottom: 20px;
}
.ygfc-list ul li{
	margin: 15px 0;
}
.ygfc-list ul li img{
	padding: 0;
	float: left;
}
.ygfc-list ul li p{
	float: left;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
}
.ygfc-list ul li span{
	float: right;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (max-width: 992px){
	.yangsheng .container{
		width: initial;
	}
}
/*员工风采*/
/*联系我们*/
.us h3{
	text-align: center;
	color: #00c7a4;
	font-size: 30px;
}
.us .hengxian{
	display: block;
    margin: 0 auto;
	width: 47px;
	height: 5px;
	background: #00c7a4;
	margin-bottom: 20px;
}
.us-list p{
	text-align: center;
	line-height: 2em;
}
.us-list .yuan{
	display: block;
	width: 148px;
	height: 148px;
	border-radius: 74px;
	font-size: 50px;
	text-align: center;
	line-height: 148px;
	color: white;
	border: 4px solid #e1e1e1;
	margin: 30px auto;
}
.us-list .green{
	background: #24ae7d;
}
.us-list .blue{
	background: #0091d2;
}
.us-list .pink{
	background: #d74985;
}
.us-list .last-ul p{
	text-align: center;
}
form{
	width: 100%;
}
.advise .intp{
	width: 80%;
	margin: 0 auto;
}
.advise span{
	color: #20d9ab;
	display: block;
	padding-left: 20px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.advise .ipt{
	width: 30%;
	padding: 5px 10px;
	margin: 0 14px;
	border: 0;
	border: 1px solid #dadada;
	outline-style: none;
	float: initial;
}
.advise label{
	color: #ccc;
}
.advise #message{
	display: block;
	width: 77.4%;
	/*height: 100px;*/
	background: white;
	border: 1px solid #dadada;
	padding: 5px;
	outline-style: none;
	margin: 20px auto;
	float: initial;
}
.advise .btn{
	display: block;
	margin: 0 auto;
	background: #20d9ab;
	color: white;
}
@media (max-width: 1200px) and (min-width: 992px){
	.advise .ipt{
		margin: 0 11px;
	}
}
@media (max-width: 992px) and (min-width: 768px){
	.advise .ipt{
		margin: 0 8px;
	}
}
@media (max-width: 768px) {
	.advise .intp{
		width: 100%;
	}
	.advise .ipt{
		width: 80%;
		margin: 10px 35px;
	}
	.advise #message{
		width: 100%;
	}
}
/*联系我们*/
