

/*分享*/
.bdshare-button-style0-16 a{
	margin: 6px 0 0 0;
}
.bdshare-button-style0-16{
	position: fixed;
    left: 0;
    top: 220px;
    width: 29px;
    background: #cecece;
    border-radius: 3px;
}
/*分享 end*/

/*客服*/
.fixed{
	background: #fff;
	display: none;
}
#fixed{
	right: 0;
}

.gm{
	position: fixed;
	right: 0;
	top: 30%;
	width: 29px;
	padding: 6px;
	color: #fff;
	background: #20D9AB;
	border-radius: 3px;
	z-index: 2;
}
.gm:hover{
	/*display: none;*/
}
.gm:hover .fixed{
	display: block;
}
/*客服 end*/

