.box{
	position: relative;
}
.backtop{
	position: fixed;
	bottom: 10%;
	right: 10%;
}
.backtop img{
	width: 50px;
	height: 50px;
}
.content1{
	width: 100%;
	background: #fff;

}
.content1,.content2,.content3,.content4{
	padding-top: .56rem;
}
.kuang{
	width: 11.475rem;
	padding: 0 .10rem;
	margin: 0 auto;
	border: 1px solid #DBDBDB;
	overflow: hidden;
}
.box h2{
	margin-top: 0;
	padding-top: 0.2rem;
	font-size: .3rem;
	text-align: center;
	color: #00bbc7;
}
.hr1{
	border: .01rem solid #00bbc7;
	margin: .1rem auto .2rem;
}
.huati{
	margin: 0 auto;
	max-width: 11.3rem;
}
.huati:after{
    content:" ";        
    display:block;        
    height:0;
    clear:both;
    visibility:hidden;        
}

/*话题左*/
.huati_l,.huati_m,.huati_r{
	float: left;
	width: 33.3%;
	/*height: 4.78rem;*/
	overflow: hidden;
}
.huati_l{
	padding: 0.1rem 0.1rem 0.1rem 0;

}
.huati_m{
	box-sizing: border-box;
	border-left: 1px solid #DBDBDB;
	border-right: 1px solid #DBDBDB;
}
.huati_r{

}

.huati_lu,.huati_ld{
	overflow: hidden;
}
.huati_lu{
	margin-bottom: .1rem;
	position: relative;
}
.huati_lu img{
	width: 100%;
}
.huati_lu .p_bg{
	color: #fff;
	background: rgba(0, 0, 0, .8);
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 100%;
	padding: .04rem 0 .04rem .08rem;
	display: none;
	font-size: .18rem;
}
.huati_lu:hover .p_bg{
	display: block;
}
.huati_ldl,.huati_ldr{
	float: left;
	width: 48%;
	position: relative;
}
.huati_ldl .p_bg1,.huati_ldr .p_bg2{
	width: 100%;
	color: #fff;
	background: rgba(0, 0, 0, .7);
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 100%;
	padding: .04rem 0 .04rem .08rem;
	display: none;
	font-size: .14rem;
	white-space:nowrap;
}

.huati_ldl:hover .p_bg1{
	display: block;
}
.huati_ldr:hover .p_bg2{
	display: block;
}
.huati_ldr{
	margin-left: .1rem;
}
.huati_ldl img,.huati_ldr img{
	width: 100%;
}
/*话题左*/

/*话题中*/
.huati_m{
	padding: .15rem .1rem .1rem .1rem;
}
.huati_p1{
	font-size: .18rem;
	font-weight: bold;
	color: #20D9AB;
	margin: 0 0 .05rem 0;
	text-align: center;
}
.huati_p2{
	font-size: .14rem;
	color: #666;
	text-indent: .29rem;
}
.huati_mimg{
	width: 100%;
	overflow: hidden;
}
.huati_mimg img{
	float: left;
	width: 48.5%;
}
.huati_mimg img:nth-child(2){
	margin-left: .1rem;
}

.huati_mul{
	margin-top: .08rem;
	margin-bottom: 0;
}
.huati_m .huati_mul{
	margin-top: .12rem;
}
.huati_mlip,.huati_mlit{
	font-size: .14rem;
}
.huati_mlip{
	color: #000;
	display: inline-block;
	width: 2.4rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	/*line-height: 14px;*/
}
.huati_mlit{
	float: right;
	color: #ababab;
}
/*话题中*/

/*话题右*/
.huati_r{
	padding: .12rem 0 0 .1rem;
}
/*话题右*/


/*寻医问诊*/
.content2{
	width: 100%;
	background: #d2fff3;
	overflow: hidden;
}
.box .content2 h2{
	color: #00c791;
}
.content2 .hr2{
	border: .01rem solid #00C791;
	margin: .1rem auto .2rem;
}
.xz{
	width: 11.3rem;
	margin: 0 auto .53rem;
}
.xzU{
	border: 1px solid #d3d3d3;
	height: 3.95rem;
	margin-bottom: .17rem;
}
.xzUl,.xzUr{
	width: 50%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	position: relative;
}
.xzUl{
	padding: .8rem .44rem;
	color: #444;
	font-size: .14rem;
	background: #fff;
}
.tiwen{
	padding: .12rem .2rem;
	position: absolute;
	font-size: .2rem;
	color: #fff;
	left: 0;
	top: 0;
	background:-moz-linear-gradient(top, #22ff8f, #01c285);
	background:-webkit-linear-gradient(top, #22ff8f, #01c285);
	background:-ms-linear-gradient(top, #22ff8f, #01c285);
	background:linear-gradient(top, #22ff8f, #01c285);
}
.ms{
	margin-bottom: .47rem;
}
.xzUl button{
	font-size: .14rem;
	color: #fff;
	padding: .1rem .27rem .09rem;
	border-radius: .05rem;
	background: #00bbc7;
	position: absolute;
	bottom: 12.65823%;
	right: 13.27433%;
	border: 0;
}

.xzUr{
	padding: .56rem .47rem;
	border-left: 1px solid #D3D3D3;
	background: #f4f4f4;
}
.answer{
	padding: .12rem .2rem;
	position: absolute;
	font-size: .2rem;
	color: #fff;
	right: 0;
	top: 0;
	background:-moz-linear-gradient(top, #71e3ff, #0874bf);
	background:-webkit-linear-gradient(top, #71e3ff, #0874bf);
	background:-ms-linear-gradient(top, #71e3ff, #0874bf);
	background:linear-gradient(top, #71e3ff, #0874bf);
}
.answer_img{
	float: left;
}
.answer_img{
	width: 1.16rem;
	height: 1.29rem;
}
.answer_img img{
	width: 100%;
}
.answers:after{
	content:" ";        
    display:block;        
    height:0;        
    clear:both;        
    visibility:hidden; 
}
.answer_ms{
	padding: .12rem 0 0 .2rem;
	margin-left: 1.16rem;
	font-size: .16rem;
	color: #000;
}
.answer_t{
	float: right;
	color: #d1d1d1;
}
.result{
	padding: .2rem .32rem;
	margin-top: .42rem;
	border: 1px solid #d4d4d4;
	border-radius: .04rem;
	background: #fff;
	font-size: .14rem;
	color: #444;
}
/*寻医问诊*/


/*专家在线*/
.content3{
	width: 100%;
	overflow: hidden;
}
.pro{
	width: 11.3rem;
	margin: 0 auto .58rem;
	overflow: hidden;
}
.proer{
	float: left;
	width: 5.5rem;
	height: 2.75rem;
	background: #f4f4f4;
}
.proer:nth-child(2n){
	margin-left: .3rem;
	margin-bottom: .19rem;
}
.proer_l,.proer_r{
	float: left;
}
.proer_l{
	width: 28.36364%;
	padding: .4rem .1rem 0 .26rem;
	font-size: .16rem;
}
.proer_l img{
	width: 100%;
}
.proer_name{
	text-align: center;
	font-size: .16rem;
	color: #000;
	margin-top: .11rem;
	margin-bottom: .09rem;
}
.proer_l button{
	display: block;
	border: 0;
	border-radius: .05rem;
	color: #fff;
	padding: .07rem .22rem;
	margin: 0 auto;
	background: #00bbc7;
}
.proer_rp{
	font-weight: bold;
	color: #000;
}

.proer_r{
	width: 71.63636%;
	padding: .46rem .22rem 0 0;
	font-size: .14rem;
	color: #666;
}
.proer_ph{
	line-height: .32rem;
}
/*专家在线*/

/*健康资讯*/
.content4{
	width: 100%;
	overflow: hidden;
	background: #f1f1f1;
	position: relative;
}
.conul{
	display: block;
}
#myTab{
	/*display: inline-block;*/
	border: 0;
	margin: 0 auto .2rem;
}
#myTab li a{
	padding: .1rem .2rem;
	color: #000000;
	border: 0;
}
#ydjk,#txms,#klxq,#smgl{
	max-width: 1130px;
	margin: 0 auto;
}
.jkys .health{
	color: #ABABAB;
}
.jkys-list ul li span{
	color: #666;
}
/*健康资讯*/




/*分享*/
.bdshare-button-style0-16 a{
	margin: 6px 0 0 0;
}
.bdshare-button-style0-16{
	position: fixed;
    left: 0;
    top: 220px;
    width: 29px;
    background: #cecece;
    border-radius: 3px;
}
/*分享 end*/

/*客服*/
.fixed{
	background: #fff;
	display: none;
}
#fixed{
	right: 0;
}

.gm{
	position: fixed;
	right: 0;
	top: 30%;
	width: 29px;
	padding: 6px;
	color: #fff;
	background: #20D9AB;
	border-radius: 3px;
	z-index: 2;
}
.gm:hover{
	/*display: none;*/
}
.gm:hover .fixed{
	display: block;
}
/*客服 end*/






@media (min-width: 992px){
	.conul{
		width: 400px;
	}
}
@media (max-width: 992px) and (min-width: 769px){
	.backtop img{
		width: 45px;
		height: 45px;
	}
	.huati_m ul li,.huati_r ul li{
		line-height: 18px;
	}
	#myTab li a{
		font-size: 13px;
	}
	.conul{
		width: 360px;
	}
	.clearfix li{
		overflow: hidden;
	}
	.clearfix li:nth-child(3n+1){
		padding-right: 0;
	}
	.clearfix li:nth-child(3n-1){
		padding-right: 0;
	}
	.clearfix li div{
		padding-right: 0;
	}
	.jkys-list ul li p{
		font-size: 14px;
	}
	.jkys-list ul li span{
		font-size: 12px;
	}
}
@media (max-width: 768px) and (min-width: 460px){
	.backtop img{
		width: 40px;
		height: 40px;
	}
	.box h2{
		font-size: 30px;
	}
	.kuang{
		border: 0;
		padding: 0;
	}
	.huati{
		padding: 5px;
		margin: 0;
	}
	.huati_l{
		padding: 0;
	}
	.huati_l,.huati_m,.huati_r{
		border: 1px solid #DBDBDB;
	}
	.huati_l,.huati_m,.huati_r,.xzUl,.xzUr,.proer{
		width: 100%;
		height: initial;
	}
	.huati_ldr{
		margin-left: 2%;
	}
	.huati_mimg img:nth-child(2){
		margin-left: 2%;
	}
	.huati_lu .p_bg{
		font-size: 18px;
		padding: 4px 0 4px 8px;
	}
	.huati_ldl .p_bg1, .huati_ldr .p_bg2{
		font-size: 16px;
		padding: 4px 0 4px 8px;
	}
	.huati_p1{
		font-size: 18px;
	}
	.huati_p2{
		text-indent: 25px;
	}
	
	.huati_mul{
		padding-right: 7px;
	}
	.huati_mli{
		padding-right: 2%;
	}
	.huati_mlip{
		width: 7.4rem;
	}
	.proer:nth-child(2n){
		margin-left: 0;
	}
	.proer{
		margin-bottom: .19rem;
	}
	.proer_ph{
		line-height: 20px;
	}
	.nav>li{
		width: 24%;
		text-align: center;
	}
	#myTab li a{
		padding: 10px 5px;
		font-size: 12px;
	}
	.jkys .health{
		color: #ABABAB;
		font-size: 12px;
		text-indent: 25px;
	}
	.jkys-list ul li p{
		font-size: 14px;
		color: #000;
	}
	.jkys-list ul li span{
		color: #666;
		font-size: 12px;
		text-indent: 24px;
	}
	.jkys-list ul li div{
		padding-right: 0;
	}
}
@media (max-width: 460px) and (min-width: 320px){
	.backtop img{
		width: 35px;
		height: 35px;
	}
	.box h2{
		font-size: 20px;
	}
	.kuang{
		border: 0;
	}
	.huati{
		padding: 5px;
	}
	.huati_l,.huati_m,.huati_r{
		border: 1px solid #DBDBDB;
	}
	.huati_l,.huati_m,.huati_r,.xzUl,.xzUr,.proer{
		width: 100%;
		height: initial;
	}
	.huati_ldr{
		margin-left: 2%;
	}
	.huati_mimg img:nth-child(2){
		margin-left: 2%;
	}
	.huati_p2{
		text-indent: 25px;
	}
	.huati_mul{
		padding-right: 7px;
	}
	.huati_mlip{
		width: 7.4rem;
	}
	.proer:nth-child(2n){
		margin-left: 0;
	}
	.proer{
		margin-bottom: .19rem;
	}
	.proer_ph{
		line-height: 16px;
	}
	.nav>li{
		width: 24%;
		text-align: center;
	}
	#myTab li a{
		padding: 10px 5px;
		font-size: 12px;
	}
	/*p{
		font-size: 12px;
	}*/
	.jkys .health{
		color: #ABABAB;
		font-size: 12px;
		text-indent: 25px;
	}
	.jkys-list ul li p{
		font-size: 14px;
		color: #000;
	}
	.jkys-list ul li span{
		color: #666;
		font-size: 12px;
		text-indent: 24px;
	}
	.jkys-list ul li div{
		padding-right: 0;
	}
}
@media only screen and (max-width: 320px) {
	.backtop img{
		width: 30px;
		height: 30px;
	}
	.kuang{
		border: 0;
	}
	.huati{
		padding: 5px;
	}
	.huati_l,.huati_m,.huati_r{
		border: 1px solid #DBDBDB;
	}
	.huati_l,.huati_m,.huati_r,.xzUl,.xzUr,.proer{
		width: 100%;
		height: initial;
	}
	.huati_ldr{
		margin-left: 2%;
	}
	.huati_mimg img:nth-child(2){
		margin-left: 2%;
	}
	.huati_p2{
		text-indent: 25px;
	}
	.huati_mul{
		padding-right: 7px;
	}
	.huati_mlip{
		width: 7.4rem;
	}
	.proer:nth-child(2n){
		margin-left: 0;
	}
	.proer{
		margin-bottom: .19rem;
	}
	.proer_ph{
		line-height: 16px;
	}
	.nav>li{
		width: 24%;
		text-align: center;
	}
	#myTab li a{
		padding: 10px 5px;
		font-size: 12px;
	}
	.jkys .health{
		color: #ABABAB;
		font-size: 12px;
		text-indent: 25px;
	}
	.jkys-list ul li p{
		font-size: 14px;
		color: #000;
	}
	.jkys-list ul li span{
		color: #666;
		font-size: 12px;
		text-indent: 24px;
	}
	.jkys-list ul li div{
		padding-right: 0;
	}
}
