.jianli{
	width: 955px;
	height: 1346px;
	border: 1px solid #afafaf;
	margin: 0 auto;
	position: relative;
}
.titles_p{
	font-size: 24px;
	color: #20D9AB;
	text-align: center;
}
.x{
	width: 36px;
	height: 36px;
	position: absolute;
	right: 15px;
	top: 15px;
}
.jianli_hr{
	border-top: 1px solid #E3E3E3;
}
.basems{
	padding: 22px;
}
.filepath{
	color: #fff;
	/*padding: 8px 34px;*/
	/*display: inline-block;*/
	width: 132px;
	height: 30px;
	background: #00d3a9;
	line-height: 30px;
}
