.box{
	background-image: url(../img/dlzcym/tian-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10% 0;
}
.box .login-left{
	text-align: center;
	padding: 115px 0;
	color: white;
}
.box .login-right{
	padding: 0 100px;
}
@media (min-width: 768px) and (max-width: 992px){
	.box .login-right{
		padding: 0;
	}
}
@media (min-width: 555px) and (max-width: 768px){
	.box .login-right{
		padding: 100px;
	}
}
@media (min-width: 415px) and (max-width: 555px){
	.box .login-right{
		padding: 100px 50px;
	}
}
@media (max-width: 415px) {
	.box .login-right{
		padding: 80px 15px;
	}
}
.box .login-right .alive{
	display: block;
	width: 100%;
	color: white;
	background:linear-gradient(#22ff8f,#01c285);
	padding: 12px 40px;
	font-size: 18px;
}
.box .login-right .login-right-xia{
	padding: 65px 46px;
	background: white;
}
.box .login-right .login-right-xia ul li{
	border: 1px solid #bbbbbb;
	margin-bottom: 30px;
	height: 40px;
	border-radius: 5px;
}
.box .login-right .login-right-xia .a,.box .login-right .login-right-xia .b{
	display: inline-block;
	width: 12px;
	height: 15px;
	margin-left: 10px;
	margin-top: 12px;
	margin-right: 10px;
	float: left;
}
.box .login-right .login-right-xia .int{
	border: 0;
	outline-style: none;
	width: 80%;
	height: 38px;
}
.box .login-right .login-right-xia .submit{
	padding: 12px 0;
	border: 0;
	width: 100%;
	background: #1cd199;
	color: white;
	margin-bottom: 30px;
	font-size: 16px;
}
.box .login-right .login-right-xia .a{
	background: url(../img/dlzcym/zhanghao.png) no-repeat;	
}
.box .login-right .login-right-xia .b{
	background: url(../img/dlzcym/password.png) no-repeat;	
}
.login-right-xia form #chk{
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
form .comList_forCheckbox
{
	width:20px;
	height:20px;
	color:white;
	cursor:pointer;
	text-align:center;
	line-height: 18px;
	display:inline-block;
	border-radius:.2em;
	border: 1px solid #666666;
	background: #666666;
	float: left;
	margin-right: 10px;
}
form .glyphicon{
	top: 0;
}
form a{
	float: right;
	color: red;
}
form a:hover{
	color: red;
	text-decoration: none;
}
